@import ../config/colors.css;
@import ../config/font-config.css;

.container {
	height: 530px;
}

h3 {
	font-size: $fontSizeLarge;
	font-weight: $fontWeightLight;
	margin: 0;
	padding-left: 200px;
	padding-top: 50px;
	padding-bottom: 50px;
	text-transform: uppercase;
}

.fullTable {
	font-size: $fontSize;
    margin-left: 200px;
    overflow: hidden;
    table-layout: fixed;
    width: max800px;
    word-wrap:break-word;
}

form {
	font-size: $fontSize;
    margin-left: 200px;
    overflow: hidden;
    table-layout: fixed;
    width: max600px;
    word-wrap:break-word;
		display: flex;
}

form input {
	min-height: 25px;
	height: auto;
	width: 245px;
}

td {
	height: 30px;
	padding: 1px 1px 1px 5px;
}


.projectName {
	width: 250px;
}

.projectUrl {
	width: 250px;
}

div .greenBuild, .redBuild {
	display: block;
}
.greenBuild {
	background-color: $green;
}

.redBuild {
	background-color: $red;
}

.greenBuild, .redBuild {
	border: 1px solid darkgrey;
	border-radius: 50%;
	height: 15px;
	margin-left: 230px;
	text-align: right;
	width: 15px;
}

.buildDate {
	padding-left: 20px;
	width: 150px;
}

.addButton, .inputProjectName, .inputProjectUrl {
	margin: 2px 4px 2px 2px;
	cursor: pointer;
}

.deleteButton {
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	background-color: transparent;
	outline: 0;
	height:25px;
	width: 25px;
	line-height: normal;
	background-image: url('../config/delete.png');
}

.editButton {
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	background-color: transparent;
	outline: 0;
	height:25px;
	width: 25px;
	line-height: normal;
	background-image: url('../config/edit.png');
}

.addButton {
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	background-color: transparent;
	outline: 0;
	height:25px;
	width: 25px;
	background-image: url('../config/checkmark.png');
}

.addButton {
	margin: 2px 4px 2px 6px;
}

.inputProjectName, .inputProjectUrl {
	margin: 2px 8px 2px 2px;
}

button {
  -webkit-appearance: none;
	border-style: none;
}
