@import ../config/colors.css;
@import ../config/font-config.css;

.container {
	height: 530px;
}

h3 {
	margin: 0;
	font-size: $fontSizeLarge;
	text-transform: uppercase;
	font-weight: $fontWeightLight;
	padding-left: 100px;
	padding-top: 50px;
}