@import ../config/colors.css;
@import ../config/font-config.css;

.container {
	height: 530px;
}

.container a:link {
 	color: $darkgrey;
 	display:block;
 	text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}

h3 {
	font-size: $fontSizeLarge;
	font-weight: $fontWeightLight;
	margin: 0;
	padding-left: 200px;
	padding-top: 50px;
	padding-bottom: 50px;
	text-transform: uppercase;
}

.fullTable {
	font-size: $fontSize;
    margin-left: 200px;
    overflow: hidden;
    table-layout: fixed;
    max-width: 800px;
    word-wrap:break-word;
}

.fullTable input {
	font-size: $fontSize;
	color: $darkgrey;
	font: $lato;
    overflow: hidden;
    word-wrap:break-word;
		display: flex;
		min-height: 25px;
		height: auto;
		width: 245px;
}

form {
	font-size: $fontSize;
    margin-left: 200px;
    overflow: hidden;
    table-layout: fixed;
    max-width: 600px;
    word-wrap:break-word;
		display: flex;
}

form input {
	min-height: 25px;
	height: auto;
	width: 245px;
}

td {
	height: 30px;
	min-width: 29px;
	padding: 0px 7px 0px 0px;
	word-wrap:break-word;
}


.projectName {
	width: 250px;
}

.projectUrl {
	width: 250px;
}

div .greenBuild, .redBuild {
	display: block;
}
.greenBuild {
	background-color: $green;
}

.redBuild {
	background-color: $red;
}

.greenBuild, .redBuild {
	border: 1px solid darkgrey;
	border-radius: 50%;
	height: 15px;
	margin-left: 230px;
	text-align: right;
	width: 15px;
}

.buildDate {
	padding-left: 20px;
	width: 150px;
}

.addButton, .inputProjectName, .inputProjectUrl {
	margin: 2px 4px 2px 2px;
	cursor: pointer;
}

.deleteButton {
	background-color: transparent;
	background-image: url('../config/delete.png');
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	height:25px;
	line-height: normal;
	outline: 0;
	width: 25px;
}

.editButton {
	background-color: transparent;
	background-image: url('../config/edit.png');
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	height:25px;
	line-height: normal;
	outline: 0;
	width: 25px;
}

.cancelButton {
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	background-color: transparent;
	outline: 0;
	height:25px;
	width: 25px;
	line-height: normal;
	background-image: url('../config/cancel.png');
}

.addButton {
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	background-color: transparent;
	outline: 0;
	height:25px;
	width: 25px;
	background-image: url('../config/checkmark.png');
}

.addButton {
	margin: 2px 4px 2px 6px;
}

.inputProjectName, .inputProjectUrl {
	font-size: $fontSize;
	color: $darkgrey;
	font: $lato;
	margin: 2px 8px 2px 2px;
}

button {
	border-style: none;
  -webkit-appearance: none;
}

.oneproject-container {
	margin-left: 200px;
	margin-top: 50px;
	position: relative;
}

h4 {
	clear: left;
    float: left;
    width: 150px;
    text-align: right;
	font-weight: lighter;
	padding-right: 8px;
}

.projectNameTitle {
	font-size: 30px;
	font-weight: lighter;
}

.coveragePercentage, .testCasesPercentage {
	display: inline-block;
}

.testCasesPassing, .TestTimeNumber, .coveragePercentage, .testCasesPercentage, .projectCoverage {
	font-size: 20px;
}

.projectNameTitle, .projectCoverage, .testCasesPassing, .testCasesPercentage, .TestTimeNumber, code {

}
