.navbar {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	background-color: white;
	height: 100px;
	font-size: 16px;
	background-image: url('lufi-logo.png');
	background-repeat: no-repeat;
	background-position: 10px 15px, center;
	padding: 0;
 }

.admin {
	padding-left: 40px;
}

.projects {
	padding-left: 110px;
}

.admin, .projects {
	padding-top: 35px;
	position: relative;
	font-weight: bold;
}

a:link {
 	color: #4A4A4A;
 	text-decoration: none;
 	display:block;
}

a:visited {
	color: #4A4A4A;
	border-bottom: 2px solid #FDBD01;
}

a:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    -moz-transition: width .65s ease, background-color .5s ease;
    -webkit-transition: width .65s ease, background-color .5s ease;
    -ms-transition: width .65s ease, background-color .5s ease;
    transition: width .65s ease, background-color .5s ease;
}
a:hover:after {
    width: 100%;
    background: #FDBD01;
}





 

