@import ../config/colors.css;
@import ../config/font-config.css;

.navbar {
	align-items: flex-start;
	background-color: white;
	background-image: url('../config/lufi-logo.png');
	background-repeat: no-repeat;
	background-position: 10px 15px, center;
	box-shadow: 0 10px 10px -11px rgba(0, 0, 0, 0.5);
	display: flex;
	font-size: $fontSize;
	height: 100px;
	justify-content: flex-start;
	padding: 0;
 }

.admin {
	padding-left: 40px;
}

.projects {
	padding-left: 110px;
}

.admin, .projects {
	font-weight: $fontWeightBold;
	padding-top: 35px;
	position: relative;
}

.navbar a:link {
 	color: $darkgrey;
 	display:block;
 	text-decoration: none;
}

.navbar a:visited {
	border-bottom: 2px solid #FDBD01;
	color: $darkgrey;
}

.navbar a:after {
	background: transparent;
    -moz-transition: width .65s ease, background-color .5s ease;
    -webkit-transition: width .65s ease, background-color .5s ease;
    -ms-transition: width .65s ease, background-color .5s ease;
    content: '';
    display: block;
    height: 2px;
    margin: auto;
    transition: width .65s ease, background-color .5s ease;
    width: 0px;
}

.navbar a:hover:after {
    background: #FDBD01;
    width: 100%;
}





 

